<div
  class="relative flex flex-col border-3 border-x-sky-900/50 border-y-sky-700/30 rounded-sm bg-zinc-50 m-2 p-1"
>
  <span class="flex direction-row justify-between">
    <p class="text-xl text-gray-900">{{ task().name }}</p>
    <span class="flex align-center">
      <app-status-selector [task]="task()" />
      <app-button [onClick]="onClickDelete"> <app-trash-icon /></app-button>
    </span>
  </span>
  <span class="text-xs text-gray-900/50">Created: {{ task().created }}</span>
  <span class="py-2">{{ task().description }}</span>
</div>
