<div
  class="relative flex flex-col border border-gray-700 rounded-md bg-gray-900 m-2 p-3 shadow-sm transition-colors duration-150 hover:border-cyan-600"
>
  <span class="flex flex-row justify-between items-center">
    <p class="text-base sm:text-lg text-gray-100 font-semibold">{{ task.name }}</p>
    <span class="flex items-center gap-1">
      <app-status-selector [task]="task" />
      <app-button [onClick]="onClickDeleteTask">
        <app-trash-icon />
      </app-button>
    </span>
  </span>
  <span class="text-xs text-gray-400 mt-1"
    >Created: {{ task.created | date : "dd/MM/yyyy HH:mm" }}</span
  >
  <span class="py-2 text-sm sm:text-base text-gray-200">{{ task.description }}</span>
</div>