
<header class="flex justify-between items-center px-4 py-2 bg-gray-700 bg-opacity-70 text-white fixed top-0 left-0 w-full">
    <!-- <nav class="w-full flex justify-between items-center"> -->
      <span class="cursor-pointer hover:text-gray-400" routerLink="./">{{ title() }}</span>
      <!-- <ul class="list-none flex gap-4">
        <li class="cursor-pointer hover:text-gray-400" routerLink="./todos">Todos</li>
        <li class="cursor-pointer hover:text-gray-400" routerLink="./grid">Grid</li>
      </ul> -->
    <!-- </nav> -->
  </header>
  